.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

button {
  border: none;
  font-size: 13px;
  background: none;
  background-color: rgb(214, 159, 100);
  font-weight: bold;
  border-radius: 5px;
  margin: 0px 0px 0px 10px ;
  border: 1px solid #363642;
  color: rgb(18, 17, 17);
  padding: 7px 14px 7px 14px;
}